body{
    background-color: green;
}

.title{
    text-align: center;
    text-shadow: 2px 2px 5px white;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.title1{
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

.text{
    width: 400px;
    text-align: center;
    border: 3px solid beige;
    margin-left: 430px;
    box-shadow: 10px 10px;
    background-color: darkgray;
}

footer{
    text-align: center;
}